/* This for screened devices */

/* 1. Imports
2. General Style ::-webkit-search-results-decoration
3. Mobile First Style Rules
4. Large Screen Rules (use media queries)*/

/* 1. Imports */
@import url('normalize.css');
@import url('https://fonts.googleapis.com/css?family=Sansita');

/* 2. General Style Rules */
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Sansita', sans-serif;
}

body {
    font-family: "Helvetica", sans-serif;
}


section {
    background-color: rgba(200, 200, 200, .6);
    margin: .2em auto;
    border: 1px solid;
    border-radius: 15px;
    min-width: 200px;

}

li {
    list-style-type: none;
}

/* 3. Mobile First Rule */

#top {
    display: flex;
}

#top>img {
    width: 50px;
    height: 50px;
}


   /* Background pictures for summary */
   .clear {
    background-image: url("/weather/images/clear_small.jpg");
   }ƒ

#dial {
    height: 50px;
    width: 50px;
    background: no-repeat center/85% url('/HW/responsive_media/weather-images/wind-pointer.png');
    /* background-image: url('/HW/responsive_media/weather-images/wind-pointer.png') */
    /* z-index: 100; */
    margin: -.6em auto 0;
    transform: rotate(1deg);
    display: flex;
    align-content: center;
}

#rain>img {
    width: 80px;
    height: 100px;
}

#page-nav {
    position: fixed;
    bottom: 0;
    width: 100%;
}

#page-nav>ul {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    padding-left: 0%;
}

#forecast>ul {
    display: flex;
    flex-wrap: nowrap;
    width: 100px;
    background-color: aqua;
    overflow-x: auto;
    padding: 0;
    list-style-type: none;
}

#forecast>li {
    flex-shrink: 0;
    border-right: 1px solid blue;
    padding: 0 10px
}

#forecast>li:last-child {
    border-right: none;
}

/* 4. Large Screen Rules */
@media screen and (min-width: 750px) {

    /* All large screen css rules go here */
    #page-nav>ul {
        display: flex;
        justify-content: space-around;
    }

    #page-nav {
        position: relative;
    }

    main>section {
        text-align: center;
    }

    /* body {} */

    #tile-container, #curWeather {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 1430px;
        height: 300px;
        background-image: raindrops;
    }


    #curWeather {
        display: flex;
        justify-content: space-around;
        /* background-size: contain  */
       }

    #temperature {
        width: 100px;
        height: 225px;
        
    }

    #wind {
        width: 100px;
        height: 225px;
    }

    #rain {
        width: 100px;
        height: 225px;
    }

    #forecast {
        overflow-x: auto;
        width: 1430px;
    }
}